@use "mixins" as *;

div {
    &.homepage { 
        max-width: none !important; 
        height: calc(100vh - 56px);
        width: 100vw; 
        background-size: cover !important;
        position: relative;
        > img {
            position: absolute;
            inset: 0 0 0 0;
            width: 100%;
            height: 100%;
        }

        > div {
            margin: auto;
        }
    }
}