<form [formGroup]="form" enctype="multipart/form-data">
  <div>
    <label for="handle">Handle:</label>
    <div>@ <input type="text" formControlName="handle" /></div>
  </div>
  <div>
    <label for="description">Profile Summary: </label>
    <input type="text" formControlName="description" />
  </div>
  <div class="img-upload">
    <label for="profile_img">Add profile picture: </label> 
    <div class="image-upload">
      <div> 
        <label for="file-input">
          <mat-icon>camera_enhance</mat-icon> 
        </label>
        <img *ngIf="preview_img" [src]="preview_img | safeResourceUrl">
        <input id="file-input" type="file" (change)="uploadFile($event)" />
      </div>
    </div>
  </div>
  <div class="buttons">
    <button routerLink="/registration">Back</button>
    <button routerLink="../user-languages" [disabled]="form.get('handle')?.invalid">Next</button>
  </div>
</form>
