@use 'mixins' as *;
@use 'variables' as *;

section {


    > div {
        margin-bottom: 32px;
        border: 1px solid $standardLightGrey;
        padding: 8px 12px;
        border-radius: 8px;

        > :first-child {
            margin-bottom: 8px;
        }

        > :nth-child(2), > .image {
            margin-bottom: 16px;
        } 

        > .interactions {
            @include flex;
            margin-bottom: 8px;

            mat-icon {
                height: auto !important;
                font-size: 16px;
            }

            > div {
                @include flex;
                align-items: center;
                
                &:first-child {
                    margin-right: 8px
                }

                > div {
                    @include flex;
                    align-items: center;
                }
            }
        }

        > .actions {
            margin-bottom: 8px;

            ul {
                @include flex;
                padding: 0;
                margin: 0;
                list-style: none;
                justify-content: space-between;

                li { 
                    width: 49%;
                    padding: 8px 12px;
                    border-radius: 8px;
                    border: 1px solid $standardLightGrey;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        background-color: $standardSuperLightGrey;
                    }

                    &.liked {
                        border: 1px solid rgb(48, 48, 246);
                        color: rgb(48, 48, 246);
                    }
                }
            }
        }

        .comment-control {
            position: relative;
            margin-bottom: 24px;

            > form {
                @include flex;
                align-items: center;

                > input {
                    width: 100%;
                    border-radius: 12px;
                    border: 1px solid $standardLightGrey;
                    padding: 1px 8px;
                }
    
                > button {
                    position: absolute;
                    right: 2px; 
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 !important;
                    border: 1px solid transparent;
                    background-color: white;
    
                    &:hover {
                        background-color: $standardSuperLightGrey;
                    }
    
                    > mat-icon {
                        font-size: 14px;
                        width: auto;
                        height: auto;
                    }
                }
            }
        }

        .comment-section { 
            border-radius: 16px;
            padding: 8px 0;

            > div {
                @include flex; 
                margin-bottom: 8px;

                > :first-child {
                    margin-right: 16px;
                }

                > :nth-child(2) {
                    @include flex;
                    justify-content: space-between;
                    border-radius: 8px;
                    flex-grow: 1;
                    background-color: $standardSuperLightGrey;
                    padding: 4px 12px 12px;

                    > :first-child {
                        > :first-child {
                            font-weight: bold;
                            font-size: 12px;
                        }
    
                        > :last-child {
                            font-size: 14px;
                        }
                    }

                    > :last-child {
                        font-size: 12px;
                    }
                } 
            }
        }
    }
}