@use 'variables' as *;
@use 'mixins' as *;

section {
    margin: 48px auto;

    @include screen-small {
        flex-direction: column;
        margin: 12px;

        .col-4, .col-8 {
            width: auto;
        }

        .col-8 {
            flex-grow: 1;
            padding: 0;
        }
    }

    > .col-4 {

         

      > ul {
        list-style: none;
        border-radius: 12px;
        border: 1px solid $standardGrey;
        padding: 0 !important;

        &.mobile {
            display: none;
        }
        li {
            padding: 12px 16px;
            border-radius: 8px; 
            cursor: pointer;  

            &:hover, &.selected{
                background-color: $standardLightGrey;
            }
        }

        @include screen-small {
            display: none;

            &.mobile {
                display: flex;
                justify-content: space-evenly;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
      }
  }
  
    > .col-8 { 
        > :first-child {
            @include flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            h1 {
                font-size: 24px;
            }

            input {
                outline: none;
                border-radius: 8px;
                border: 1px solid $standardGrey;
                padding: 2px 8px;
            }
        }

        > div:not(:first-child) {
            border-radius: 8px;
            border: 1px solid $standardLightGrey;
            margin-bottom: 12px;
            padding: 12px;

            > div > div {
                @include flex;
                justify-content: space-between; 
                margin-bottom: 8px;

                button {
                    @include button;
                }

                > div {
                    @include flex;

                    > :not(:last-child) {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
  }
  